In [16]:
import pandas as pd

In [17]:
df= pd.read_csv("ip.csv")
df

   state  a  b
0      0  1  2
1      1  1  3
2      2  4  2
3      3  1  3
4      4  4  2

In [31]:
print(df.shape[0])

5

In [34]:
for i in range (df.shape[0]):

    f = open("demo.txt", "a")
    f.write("def state"+str(df['state'][i])+"(c):\n")
    f.write("    if (c == 'a'):\n")
    f.write("        dfa = "+str(df['a'][i])+"\n")
    f.write("    elif (c == 'b'):\n")
    f.write("        dfa = "+str(df['b'][i])+"\n")
    f.write("    else:\n")
    f.write("        dfa = -1\n")
    f.write("    return dfa\n\n")
    f.close()

In [41]:
f = open("demo.txt", "a")
f.write("def isAccepted(String):\n    l = len(String)\n    dfa = 0\n    for i in range(l):\n")
f.close()

In [42]:
for i in range (df.shape[0]):
    f = open("demo.txt", "a")
    f.write("        if (dfa == "+str(i)+"):\n")
    f.write("            dfa = state"+str(i)+"(String[i])\n")
    f.close()
f = open("demo.txt", "a")
f.write("        else:\n")
f.write("            return 0\n")
f.close()